* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div {
  display: inline;
  text-align: center;
}

form {
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

select {
  padding: 1rem 1rem;
  border: 2px solid rgb(34, 255, 0);
  border-radius: 20px;
}

input[type^="number"]{
  padding: .5rem;
  flex:1;
}

input[type^="number"],
.output{
  font-size:1.5rem;
  font-weight: 800;
}

.convertBtn {
  display: block;
  font-size: 1.15rem;
  margin-top: 1rem;
  border: 1px solid black;
  border-radius: 30px;
  padding: .5rem 1rem;
  background-color: rgb(36, 138, 36);
  color: white;
}

.convertBtn:hover {
  cursor: pointer;
  background: rgba(36, 138, 36, .7)
}

.selling {
  color: red;
}

.buying {
  color: green;
}

.error {
  color: red;
}
